*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background: #c1c1c1;
    overflow: hidden;
}
.container{
    margin: 10% auto auto;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    border: solid;
    padding: 70px;
    background: #ffffff;
}
.container .r-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
}
.container .r-2{
    text-align: center;
    height: 50%;
    width: 100%;
    margin-top: 5%;
}
.container .r-2 span{
    position: absolute;
}
.container .r-3{
    text-align: center;
    height: 20%;
    width: 40%;
    margin-top: 5%;
}
.container .r-3 a{
    color: blue;
    cursor: pointer;
}

hr {
    width:70%;
    border: 1px solid ;
}
.btn-1{
    color: #fff;
    background: #c1c1c1;
    font-size: 15px;
    font-weight: 400;
    padding: 5px;
    border: 1px solid #c1c1c1;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}
.btn-1:hover{
    background: #257f6c;
}