<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meter Notifier | About</title>
    <link rel="stylesheet" href="../about.css">
    <link rel="stylesheet" href="../navbar.css">
</head>
<body>
<div th:insert="navbar :: navbar"></div>
<div class="container">
    <div class="wrapper">
        <div class="r-1"><h2>About Meter Notifier</h2></div>
        <hr/>
        <div class="r-2">
            <p>Welcome to Meter Notifier, your one-stop solution for managing your energy consumption efficiently. We
                are dedicated to providing you with real-time insights into your meter details and helping you make
                informed decisions about your energy usage.</p>
            <br>
            <p>Our platform enables you to set personalized alerts, ensuring you never miss critical updates about your
                meter balance. With Meter Notifier, you can manage multiple meters from a single user account, making
                energy management convenient and hassle-free.</p>
            <br>
            <p>We believe that empowering our users with valuable energy insights can contribute to a greener and more
                sustainable future. Join our community today and take charge of your energy consumption!</p>
        </div>
    </div>
</div>
</body>
</html>