<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Info</title>
    <link rel="stylesheet" href="../customer-info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>List of Meter</span></div>
        <div class="list-item">
            <ul>
                <li th:each="accountDetail: ${accountDetails}">
                    <a th:text="${accountDetail.meterNumber}" th:href="@{/customer-account/{accountNumber}(accountNumber=${accountDetail.accountNumber})}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
