<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="../registration.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
</head>
<body>
<div class="container">
  <div class="wrapper">
    <div class="title"><span>Registration Form</span></div>
    <form
      method="post"
      role="form"
      action="#"
      th:action="@{/registration}"
      th:object="${customer}"
    >
      <div class="row">
        <input
                type="text"
                placeholder="Email"
                th:field="*{email}"
                required
        >
      </div>
      <div class="row">
        <input type="text"
               placeholder="Account No"
               th:field="*{accountNumber}"
               required
        >
      </div>
      <div class="row">
        <input type="text"
               placeholder="Meter No"
               th:field="*{accountNumber}"
               required
        >
      </div>
      <div class="row button">
        <input type="submit" value="Register">
      </div>
      <div class="signup-link"><a th:href="@{/}">Log In</a></div>
    </form>
  </div>
</div>

</body>
</html>